@model IEnumerable<hastanerandevusistemi.Models.HastaneClass>

@{
    ViewData["Title"] = "Hastaneler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.hastil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hastilce)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hastisim)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.hastil)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hastilce)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hastisim)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.hastid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.hastid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.hastid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
