@model IEnumerable<hastanerandevusistemi.Models.HastaneClass>

@{
    ViewData["Title"] = "Hastaneler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Hastaneler</h1>
<a class="btn btn-primary" asp-action="Create" role="button">Yeni Hastane Ekle</a>

<table class="table">
    <thead>
        <tr>
            <th>
                İl
            </th>
            <th>
                İlçe
            </th>
            <th>
                Hastane İsmi
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.hastil)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hastilce)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hastisim)
            </td>
           <td>
              <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.hastid" role="button">Düzenle</a>
              <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.hastid" role="button">Sil</a>
              <a class="btn btn-info" asp-action="Details" asp-route-id="@item.hastid" role="button">İncele</a>
@*            <a asp-action="Edit" asp-route-id="@item.hastid">Düzenle</a> |
              <a asp-action="Details" asp-route-id="@item.hastid">İncele</a> |
              <a asp-action="Delete" asp-route-id="@item.hastid">Sil</a> *@
            </td> 
        </tr>
}
    </tbody>
</table>
