@model hastanerandevusistemi.Models.Randevular

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Randevular</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.randklinik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.randklinik)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.randhekim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.randhekim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.randtarih)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.randtarih)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.randsahip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.randsahip)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.randID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
