@model hastanerandevusistemi.Models.DTO.LoginModel
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width" />
        <title>@localizer["title"]</title>
        <link rel="stylesheet" href="/css/style.css">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    </head>

    <body>
        <div class="wrapper">
            <form asp-action="Login" method="post">
                <h1>@localizer["login"]</h1>

                <div class="input-box">
                <input type="text" asp-for="Username" placeholder="@localizer["tc"]" required>
                <i class='bx bxs-user'></i>
                </div>
                <div class="msg">
                    <span class="err" asp-validation-for="Username"></span>
                </div>


                <div class="input-box">
                <input type="password" asp-for="Password" placeholder="@localizer["sifre"]" required>
                <i class='bx bxs-lock-alt'></i>
                </div>
                <div class="msg">
                    <span class="err" asp-validation-for="Password"></span>
                </div>

              @*<a href="#">Şifremi Unuttum!</a>
                </div> *@

                @if (TempData["msg"] != null)
                {
                  <div class="msg">
                    <span class="err">@TempData["msg"]</span>
                  </div>
                }

            <button type="submit" class="btn">@localizer["btn"]</button>

                <div class="register-link">
                <p>@localizer["hesapyok"]<a href="/UserAuthentication/Registration"> @localizer["register"]</a></p>


                @* <a  href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                @Thread.CurrentThread.CurrentUICulture.Name
                </a> *@
                <a style="color:white;" asp-page="/Lang" asp-route-culture="en">EN</a>
                <a style="color:white" asp-page="/Lang" asp-route-culture="tr">TR</a>

                </div>
            </form>
        </div>
    </body>

</html>


